{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-header">Add Student</div>
  <div class="card-body">
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Roll Number</label>
        <input class="form-control" type="text" name="roll" required>
      </div>
      <button class="btn btn-primary" type="submit">Add Student</button>
    </form>
  </div>
</div>
{% endblock %}
